p,
h5,
.input_append input,
#shopping_bag,
#shopping_bag #shopping_actions button,
#navigation,
#global_search input,
#product_filters ul,
.nav_col ul,
.footer_col ul
#bread_crumbs ul,
.product_detail h4,
.selection p.value,
.product_detail button,
.swatches ul,
.error,
.options,
.product_detail .content p,
#related_items,
.related_desc{font-family: "Times New Roman", Times, Georgia, serif;}
.product_detail h1{font-weight: 200;}
.dropdown strong a{font-weight: 700;}